:root {
  --white: #f9f9f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  width: 100vw;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.ticker {
  height: 18rem;
}

.logo {
  width: 11rem;
  height: 11rem;
  -webkit-filter: drop-shadow(0.5px -0.5px 0.5px var(--white));
  filter: drop-shadow(0.5px -0.5px 0.5px var(--white));
}

.price {
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
