:root {
  --white: #f9f9f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  width: 100vw;
  min-height: 100vh;
}

.connection {
  font-size: 0.8rem;
  position: absolute;
  top: 1rem;
  left: calc(1rem + 10px);
  opacity: 0.75;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-currency {
  padding: 0.3rem 0.4rem;
  background-color: transparent;
  border-radius: 11px;
  border: 1px solid;
  font-size: 0.8rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ticker {
  width: 100%;
  height: 18rem;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  width: 11rem;
  height: 11rem;
  -webkit-filter: drop-shadow(0px -1px 1px var(--white));
  filter: drop-shadow(0px -1px 1px var(--white));
}

.price {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
